<h1>See the map you made on the localwiki site!</h1>
<a href="http://<%= @site %>/<%= @pizza %>" class="button">Visit the wiki page</a>
<a href="http://<%= @site %>/<%= @pizza %>"">http://<%= @site %>/<%= @pizza %></a>