<h1>See the map you made on the localwiki site!</h1>
<p><a href="http://<%= @site %>/<%= @pagename %>" class="button" target="_blank">Visit the <%= @pagename %> page!</a></p>
<p><a href="http://<%= @site %>/<%= @pagename %>" class="small" target="_blank">http://<%= @site %>/<%= @pagename %></a></p>

<div class="page"><%= @page %>